* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
Table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid darkblue;
    padding: 5px;
    text-align: center;
}
ul li {
    list-style: none;
    display: inline;
    border: 2px solid lightgreen;
    padding: 3px 15px;
    margin-right: 15px;
    border-radius: 5px;
    background-color: lightgreen;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
nav ul li:hover {
    background-color: rgb(7, 177, 21);
    border: 2px solid rgb(7, 177, 21);
}